## Exercise pandas

The TB_burden_age_sex_2019-04-23.csv for 2017 from the site https://www.who.int/tb/country/data/download/en/ can be found on the data folder. In this exercise you will open the file with `pd.read_csv()` method and do the following cleaning

- drop the collumns iso2, iso3, iso_numeric. 
- rename the collumn age_group to age

After that you answer the questions 0 to 4.

In [7]:
import pandas as pd
import numpy as np
# write your read function here
df = pd.read_csv("data\TB_burden_age_sex_2019-04-23.csv")
df = df.drop(columns={'iso2', 'iso3', 'iso_numeric'})
df.head()

       country  year measure unit age_group sex  best      lo       hi
0  Afghanistan  2017     inc  num      0-14   a  7500  4300.0  11000.0
1  Afghanistan  2017     inc  num      0-14   f  3600  1400.0   5800.0
2  Afghanistan  2017     inc  num      0-14   m  4000  1500.0   6400.0
3  Afghanistan  2017     inc  num       0-4   f  1800     0.0   4400.0
4  Afghanistan  2017     inc  num       0-4   m  2200     0.0   5400.0

### Question 0 (Example)

What is the first country in your dataframe df? This function should return a Series

In [8]:
def answer_zero():
    return df.iloc[0,0]

answer_zero()

'Afghanistan'

### Question 1

Which country has the highest estimate of TB?

This function should return a the string India.

In [9]:
def answer_one(df):
    #only show 'sex' a
    df = df[df['sex'] == 'a']
    #only show 'age_group' all
    df = df[df['age_group'] == 'all']
    df = df.sort_values('best', ascending = False)
    highest = df.iloc[0,0]

    return highest #write your code here

answer_one(df)

'India'

### Question 2

Which country has the smallest difference between high and low estimates?

In [10]:
def answer_two(df):
    #only show 'sex' a
    df = df[df['sex'] == 'a']
    #only show 'age_group' all
    df = df[df['age_group'] == 'all']
    # print(df)
    df['delta'] = df['hi'] - df['lo']
    df = df.sort_values('delta', ascending = True)
    df = df.dropna()
    lowest = df.iloc[0,0]
    print(df[df['country'] == 'American Samoa'])
    return lowest #write your code here, should return American Samoa

answer_two(df) # should return American Samoa

# df['delta'] = df['hi'] - df['lo']
# df

           country  year measure unit age_group sex  best   lo   hi  delta
65  American Samoa  2017     inc  num       all   a     6  5.0  7.0    2.0

'Turks and Caicos Islands'

### Question 3

How many countries have 65plus records?

In [11]:
def answer_three(df):
    df = df[df['age_group'] == '65plus'] 
    unique_countries_65plus = df['country'].nunique()
    return unique_countries_65plus # write your code here, should return 119

answer_three(df) # should return 119

# print(df)

119

### Question 4

Select the females and exclude the 'age = all' records. What are the top 5 countries that have the two most highest 'best estimates'?

In [36]:
def answer_four(df):
    df = df[df['sex'] == 'f']
    df = df[df['age_group'] != 'all']
    group = df.groupby('country')
    df2 = group.apply(lambda x: x['best'].nlargest(2).sum())
    df2 = df2.sort_values(ascending = False)
    top5_countries = df2.iloc[0:5]

    return top5_countries

answer_four(df)

#write your code here, should return this
# """
# India          1084000
# Indonesia       393000
# China           296000
# Pakistan        252000
# Philippines     173000
# """

country
India          1084000
Indonesia       393000
China           296000
Pakistan        252000
Philippines     173000
dtype: int64